{% extends 'shared/base.html' %}
{% load static %}


{% block content %}
    <div class="content-section ml-5 mt-5">
          <h3 class="mb-5">Add Event</h3>

                    {% for id_list in baka %}
          {% if user.id == id_list.id %}
            <p>Kotundu kis</p>
          {% endif %}
          {% endfor %}


      <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">

            <p>Date from: {{ form.date_from }}</p>
            <p>Date to: {{ form.date_to }}</p>
            <p>Title {{ form.title }}</p>
            <p>Content {{ form.content }}</p>
            <p>Link {{ form.link }}</p>


        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>

      </form>

    </div>
{% endblock %}
