{% extends 'shared/base.html' %}
{% load static %}



    {% block content %}

    <div class="d-flex p-2 bd-highlight"">
      <div class="d-inline-flex p-2 bd-highlight">

        <div class="p-1">
          <iframe class="latestVideoEmbed" vnum='0' cid="UC7WnrV5aBx7LjWp0lorB73Q" width="400" height="340" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
          <h2 class="title"></h2>
        </div>

        <div class="p-1">
          <iframe class="latestVideoEmbed" vnum='1' cid="UC7WnrV5aBx7LjWp0lorB73Q" width="400" height="340" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
          <h2 class="title"></h2>
        </div>

        <div class="p-1">
          <iframe class="latestVideoEmbed" vnum='2' cid="UC7WnrV5aBx7LjWp0lorB73Q" width="400" height="340" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
          <h2 class="title"></h2>
        </div>

      </div>
    </div>

    {% endblock %}
